<footer>
    <div class="footer__outer-flex">
        <address class="footer__adresse">
            <p class="footer__p">HIFI Corner</p>
            <p class="footer__p">Hovedgaden 32</p>
            <p class="footer__p">4444 Arnestedet</p>
        </address>
        <div class="footer__inner-flex">
            <ul class="footer__info-links">
                <li class="footer__link"><a href="#" class="footer__a">Returns & Refunds</a></li>
                <li class="footer__link">|</li>
                <li class="footer__link"><a href="#" class="footer__a">Privacy Policy</a></li>
            </ul>
            <div class="footer__payment">
                <i class="fab fa-cc-visa footer__payment-item"></i>
                <i class="fab fa-cc-paypal footer__payment-item"></i>
                <i class="fab fa-cc-mastercard footer__payment-item"></i>
                <i class="fab fa-cc-jcb footer__payment-item"></i>
            </div>
        </div>
        <div class="footer__some">
            <i class="fab fa-facebook footer__payment-item"></i>
            <i class="fab fa-twitter footer__payment-item"></i>
            <i class="fab fa-instagram footer__payment-item"></i>
            <i class="fab fa-blogger-b footer__payment-item"></i>
        </div>
    </div>
</footer>