<header class="header" id="header">
    <div class="header__logo"><p class="header__logo-hifi">HI</p><p class="header__logo-hifi">FI</p></div>
    <div class="header__searchbar"></div>
    <div class="header__icons">
        <i class="fas fa-map-marker-alt header__fa"></i>
        <i class="fas fa-phone-alt header__fa"></i>
        <i class="far fa-envelope header__fa"></i>
        <a href="/basket" class="header_koebekurv"><i class="fas fa-shopping-cart header__fa">(<span class="num"></span>)</i></a>
        <button class="header__button">subscribe</button>
    </div>
    <nav class="header__nav">
        <ul class="header__ul">
            <li class="header__li"><a href="/" class="header__a">home</a></li>
            <li class="header__li"><a href="#" class="header__a">about us</a></li>
            <li class="header__li"><a href="/brands" class="header__a">brands</a></li>
            <li class="header__li"><a href="#" class="header__a">blog</a></li>
            <li class="header__li"><a href="#" class="header__a">events</a></li>
            <li class="header__li"><a href="/shop-forside" class="header__a">shop</a></li>
            <li class="header__li"><a href="#" class="header__a">contact us</a></li>
        </ul>
    </nav>
</header>