<div class="shop_topbar">
    <div class="shop_itemcount shop_text"><span class="shop_num"> </span> items</div>
    <div class="shop_sortinghat">
        <p class="shop_tex shop_sortby">Sort by</p>
        <select name="selections" id="selections" class="shop_selections">
            <option value="price_lth">Price (low to heigh)</option>
            <option value="price_htl">Price (heigh to low)</option>
            <option value="name">product name</option>
        </select>
    </div>
</div>