<% include ../partials/head %>
<% include ../partials/header %>
<main class="brand_flex">
    <div class="brand_brands">
        <p>Here are just a few of the brands we stock:</p>
        <img src="/assets/images/brands.jpg" class="brand_img">
    </div>
    <section class="brand_section">
        <h1 class="brand_header">brands</h1>
        <p class="brand_text">As an independent retailer of home audio and visual products, we are able to select the very best brands and manufacturers from across the world.</p>
        <p class="brand_text">Not only do we have the best known brands such as B&W, Devialet, KEF, Naim, and Linn; we also stock and are well versified with smaller autonomous companies like Michell Engineering, Neat Acoustics, Harbeth, SME, Trichord Research, PrimaLuna, to name but a few.</p>
        <p class="brand_text">With over a hundred brands, we can happily say that if a brand meets our high standards for sound reproduction, then you can be assured to find it at Hi-Fi Corner.</p>
        <a class="brand_a" href="../shop">VISIT OUR SHOP TO FIND MORE BRANDS></a>
    </section>
</main>

<% include ../partials/footer %>

<script src=""></script>

<% include ../partials/after-footer %>