<% include ../partials/head %>
<% include ../partials/header %>
<main>

    <div class="hero">
        <div class="hero__logo"><p class="header__logo-hifi">HI</p><p class="header__logo-hifi">FI</p></div>
    </div>
    <section class="text-section">
        <h2 class="text-section__heading">Our Arnestedet showroom has now moved to stunning new premises on hovedgaden</h2>
    </section>

    <section class="picture-slider">
        <p class="picture-slider__text">Descripton</p>
        <i class="fas fa-angle-left picture-slider__left"></i>
        <figure class="picture-slider__figure"><img class="picture-slider__img" src="/assets/images/pladespillere.jpg" alt="" srcset=""></figure>
        <i class="fas fa-angle-right picture-slider__right"></i>
    </section>

    <section class="some">
        <figure class="some__item">
            <img src="./assets/images/shop.jpg" alt="" class="some__img">
            <i class="fab fa-facebook some__icon"></i>
        </figure>
        <figure class="some__item">
            <img src="./assets/images/hoejttaler.jpg" alt="" class="some__img">
            <i class="fab fa-blogger-b some__icon"></i>
        </figure>
        <figure class="some__item">
            <img src="./assets/images/headphones.jpg" alt="" class="some__img">
            <i class="fab fa-twitter some__icon"></i>
        </figure>
    </section>
    
    <section class="storytelling">
        <section class="storytelling__flexbox">

            <article class="storytelling__story">
                <button class="storytelling__button">HISTORY</button>
                <p class="storytelling__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis iure provident at quidem error quibusdam iusto atque maxime doloribus.</p>
            </article>

            <article class="storytelling__story">
                <button class="storytelling__button">NEWS</button>
                <p class="storytelling__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni libero veniam ex delectus expedita placeat consequuntur, tempore voluptate quod!</p>
            </article>

            <article class="storytelling__story">
                <button class="storytelling__button">SHOP</button>
                <p class="storytelling__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dolores repudiandae quibusdam aliquid cumque libero sapiente ullam sit maxime.</p>
            </article>

        </section>
    </section>
</main>

<% include ../partials/footer %>
<script src="/assets/javaScript/index.js"></script>
<% include ../partials/after-footer %>