<% include ../partials/head %>
<% include ../partials/header %>

<main class="shop-forside__main">
    <section class="shop-forside__grid">
        <a href="../shop/index.html?manufacturer=make" class="shop-forside__a">
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/shop.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">SHOP BY BRAND</figcaption>
            </figure>
        </a>
        
        <a href="../shop/index.html?Category=Amplifiers" class="shop-forside__a">
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/forstaerkere.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">AMPLIFIERS</figcaption>
            </figure>
        </a>
        
        <a href="../shop/index.html?Category=Hoejttalere" class="shop-forside__a">    
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/hoejttalere.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">SPEAKERS</figcaption>
            </figure>
        </a>
        
        <a href="../shop/index.html?Category=Pladespillere" class="shop-forside__a">
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/pladespillere.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">TURNTABLES</figcaption>
            </figure>
        </a>

        <a href="../shop/index.html?Category=CDAfspillere" class="shop-forside__a">
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/cdafspillere.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">CD PLAYERS</figcaption>
            </figure>
        </a>

        <a href="../shop" class="shop-forside__a">
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/stream.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">STREAM</figcaption>
            </figure>
        </a>
        
        <a href="../shop" class="shop-forside__a">
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/kabler.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">CABLES</figcaption>
            </figure>
        </a>
        
        <a href="../shop" class="shop-forside__a">
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/furniture.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">FURNITURE</figcaption>
            </figure>
        </a>
        
        <a href="../shop" class="shop-forside__a">
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/headphones.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">HEADPHONES</figcaption>
            </figure>
        </a>

        <a href="../shop" class="shop-forside__a">    
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/homeceinema.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">HOME CINEMA</figcaption>
            </figure>
        </a>

        <a href="../shop" class="shop-forside__a">
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/udsalg.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">UP TO 50% OF</figcaption>
            </figure>
        </a>

        <a href="../shop" class="shop-forside__a">    
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/ebay-shop.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">EBAY SHOP</figcaption>
            </figure>
        </a>

        <a href="../shop" class="shop-forside__a">
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/hoejttaler.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">CEILING SPEAKERS</figcaption>
            </figure>
        </a>
        
        <a href="../shop" class="shop-forside__a">
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/fjernsyn.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">TVs</figcaption>
            </figure>
        </a>
        
        <a href="../shop" class="shop-forside__a">
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/vinyl.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">VINYL LPs</figcaption>
            </figure>
        </a>
        
        <a href="../shop" class="shop-forside__a">
            <figure class="shop-forside__img-holder">
                <img class="shop-forside__img" src="/assets/images/shop-now.jpg" alt="" srcset="">
                <figcaption class="shop-forside__link">SHOP NOW</figcaption>
            </figure>
        </a>

    </section>
</main>

<% include ../partials/footer %>

<script src=""></script>

<% include ../partials/after-footer %>