<% include ../partials/head %>
<% include ../partials/header %>

<main>
    <div class="single-produkt__banner"></div>
    <article class="single-produkt__grid">
       
    </article> 
    <footer class="single-produkt__footer"><i class="fas fa-phone-alt header__fa single-produkt__footer-color"></i><p class="single-produkt__footer-text">CALL US ABOUT THIS PRODUCT</p></footer>
</main>

<% include ../partials/footer %>

<script src="/assets/javaScript/single-produkt.js"></script>
<% include ../partials/after-footer %>