:root{
    --color-one : #000000;
    --color-two : #333333;
    --color-three : #ffffff;
    --color-four : #bf9d61;
    --color-five : lightgrey;

    --p-size : 1.4rem;
    --font : 'Nunito', sans-serif;
}



